$accent-color: #3369F3;
$secondary-color: #999999;
$grey: #EFEFEF;
$grey-light: #FBFBFB;
$grey-border: #EAEAEA;
$chat-hover: #E4EDFD;
$white:rgb(248, 248, 248);
$border-radius-xs: 8px;
$font: "Inter", sans-serif;
$text-size-xxs: 12px;
$text-size-xs: 16px;
$text-size-s: 20px;
$text-size-m: 24px;
$text-size-l: 28px;
$text-size-xl: 50px;