<div class="routes">
  <div class="route routes__no-found">
    not found page
  </div>
  <div class="route routes__server-error">
    server error
  </div>
  <div class="route routes__profile">
    profile
  </div>
  <div class="route routes__chats">
    chats
  </div>
  <div class="route routes__register">
    register
  </div>
  <div class="route routes__login">
    login
  </div>
</div>
