<nav class="routes">
  <ul class="routes__list">
    <li class="route routes__no-found">
      not found page
    </li>
    <li class="route routes__server-error">
      server error
    </li>
    <li class="route routes__profile">
      profile
    </li>
    <li class="route routes__chats">
      chats
    </li>
    <li class="route routes__register">
      register
    </li>
    <li class="route routes__login">
      login
    </li>
  </ul>
</nav>
