<div class="app">
  <div class="register">
    <p class="register__title">Register</p>
    <form class="register__form">
      <div class="register__input-wrapper">
        {{> Input id='email' label='Email' type='email'}}
        {{> Input id='login' label='Login' type='text'}}
        {{> Input id='first_name' label='First name' type='text'}}
        {{> Input id='second_name' label='Second name' type='text'}}
        {{> Input id='phone' label='Phone' type='phone'}}
        {{> Input id='password' label='Password' type='password'}}
      </div>
      <div class="register__footer">
        {{> Button label='Register' class='register__register-button'}}
        {{> Link title='Sign in' class='register__sign-in-link'}}
      </div>
    </div>
  </div>
  {{> routes}}
</div>
