<div class="app">
  <div class="notFoundPage">
    <h1 class="notFoundPage__title">400</h1>
    <p class="notFoundPage__subtitle">You got lost 🥴</p>
      {{> Link title='Back to chats' class='notFoundPage__back-to-chats'}}
  </div>
  {{> routes}}
</div>
